.navbar-brand {
  padding-left: 10%;
}

.pokedex {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 1%;
}

.pokedex-left {
  display: flex;
  flex-direction: column;
  background-color: #e00909;
  height: 550px;
  width: 40%;
  border: 0.35em solid #000;
  border-radius: 1%;
}

.left-top {
  display: flex;
  background-color: #ad0210;
  height: 10%;
  width: 100%;
  border-bottom: 0.3em solid #000;
}

.pokedex-camera {
  height: 2.75em;
  width: 2.75em;
  background: radial-gradient(
    farthest-corner at 0.75em 0.75em,
    #fff,
    #369cd4,
    #369cd4
  );
  border-radius: 50%;
  border: 0.15em solid #fff;
  box-shadow: 0 0 0.1em 0.1em rgba(0, 0, 0, 0.5);
  align-self: center;
  margin-left: 2%;
}

.pokedex-red-light {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  border: 0.1em solid black;
  background: radial-gradient(
    farthest-corner at 0.25em 0.25em,
    #fff,
    #821919,
    #6e0404
  );
  margin-left: 1%;
  margin-top: 1%;
}

.pokedex-yellow-light {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  border: 0.1em solid #000;
  background: radial-gradient(
    farthest-corner at 0.25em 0.25em,
    #fff,
    #e6c915,
    #dec000
  );
  margin-left: 1%;
  margin-top: 1%;
}

.pokedex-green-light {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  border: 0.1em solid #000;
  background: radial-gradient(
    farthest-corner at 0.25em 0.25em,
    #fff,
    #388c16,
    #28700a
  );
  margin-left: 1%;
  margin-top: 1%;
}

.left-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  width: 100%;
}

.name-id {
  display: flex;
  height: 10%;
  width: 80%;
  justify-content: space-between;
}

.pokemon-name {
  height: 100%;
  width: 60%;
  background: linear-gradient(#51e34b, #40b03c);
  border: 0.1em solid #000;
  text-transform: capitalize;
  font-size: 2em;
  font-weight: 900;
  text-align: center;
}

.pokemon-id {
  height: 100%;
  width: 20%;
  background: linear-gradient(#51e34b, #40b03c);
  border: 0.1em solid #000;
  flex-wrap: wrap;
  font-size: 2em;
  font-weight: 900;
  text-align: center;
}

.pokedex-image-border {
  display: flex;
  flex-direction: column;
  height: 75%;
  width: 80%;
  background-color: #eef0ed;
  border: 0.2em solid #000;
  border-bottom-left-radius: 15%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.top-red-buttons {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.red-button {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  border: 0.1em solid #000;
  background: radial-gradient(
    farthest-corner at 2px 2px,
    white,
    #e32222,
    #6e0404
  );
  margin-left: 2%;
  margin-right: 2%;
}

.pokemon-image-box {
  display: flex;
  height: 75%;
  width: 80%;
  background: linear-gradient(#51e34b, #2e912a);
  justify-content: center;
  border: 0.2em solid #000;
  border-radius: 4%;
}

.pokemon-image {
  height: 100%;
}

.pokedex-record-speakers {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-self: flex-start;
  padding-top: 2%;
}

.pokedex-record-button {
  height: 2em;
  width: 2em;
  background: radial-gradient(
    farthest-corner at 0.5em 0.5em,
    #fff,
    #e32222,
    #e00909
  );
  border-radius: 50%;
  border: 0.1em solid #fff;
  box-shadow: 0 0 0.2em 0.2em rgba(0, 0, 0, 0.5);
  margin-left: 10%;
}

.pokedex-speakers {
  height: 14%;
  width: 25%;
}

.pokedex-speaker {
  height: 90%;
  width: 65%;
  background-color: #000;
  margin-bottom: 3.5%;
}

.pokedex-middle {
  display: flex;
  flex-direction: column;
  background-color: #e00909;
  height: 550px;
  width: 2%;
}

.middle-top {
  height: 10%;
  width: 100%;
  background-color: #fff;
}

.middle-hinges {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ad0210;
  height: 90%;
  width: 100%;
  border: 0.45em double #000;
}

.top-middle {
  height: 15%;
  width: 100%;
  border-top: 0.35em solid #000;
  border-bottom: 0.35em solid #000;
  border-radius: 25%;
}

.middle-middle {
  height: 15%;
  width: 100%;
  border-top: 0.35em solid #000;
  border-bottom: 0.35em solid #000;
  border-radius: 25%;
}

.bottom-middle {
  height: 15%;
  width: 100%;
  border-top: 0.35em solid #000;
  border-bottom: 0.35em solid #000;
  border-radius: 25%;
}

.pokedex-right {
  display: flex;
  flex-direction: column;
  background-color: #e00909;
  height: 550px;
  width: 40%;
  border-radius: 1%;
}

.right-top {
  height: 10%;
  width: 100%;
  background-color: #fff;
}

.right-bottom {
  display: flex;
  height: 90%;
  width: 100%;
  border: 0.35em solid #000;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 1%;
}

.pokemon-description {
  display: flex;
  height: 25%;
  width: 80%;
  background: linear-gradient(#51e34b, #2e912a);
  border: 0.2em solid #000;
  padding: 1% 1% 1% 2%;
  font-size: 1.12em;
}

.pokemon-info-type {
  display: flex;
  height: 15%;
  width: 80%;
  justify-content: space-between;
}

.pokemon-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 45%;
  background: linear-gradient(#51e34b, #2e912a);
  border: 0.2em solid #000;
  align-items: center;
  justify-content: center;
  padding-left: 5%;
  font-weight: 700;
  font-size: 1.1em;
}

.pokemon-height {
  width: 100%;
}

.pokemon-weight {
  width: 100%;
}

.pokemon-types {
  display: flex;
  height: 100%;
  width: 45%;
  background: linear-gradient(#51e34b, #2e912a);
  border: 0.2em solid #000;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
}

.pokemon-search-box {
  display: flex;
  height: 40%;
  width: 80%;
  background: linear-gradient(#51e34b, #2e912a);
  border: 0.2em solid #000;
  justify-content: space-between;
  align-items: center;
}

.pokemon-search-left {
  display: flex;
  height: 100%;
  width: 60%;
}

.pokemon-search-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  list-style-type: none;
  overflow: auto;
}

.btn {
  text-transform: capitalize;
  font-weight: 900 !important;
  font-size: 1.2em !important;
}

.btn:hover {
  background: #019434;
  color: #ffffff !important;
  transition-duration: 0.5s;
}

.pokemon-search-right {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

.pokemon-search-bar {
  height: 40%;
  width: 80%;
  text-align: center;
  font-size: 0.9em;
}

@media only screen and (min-width: 750px) and (max-width: 1024px) {
  .pokedex-left {
    height: 350px;
  }

  .pokedex-camera {
    height: 1.5em;
    width: 1.5em;
  }

  .pokedex-red-light {
    height: 0.75em;
    width: 0.75em;
  }

  .pokedex-yellow-light {
    height: 0.75em;
    width: 0.75em;
  }

  .pokedex-green-light {
    height: 0.75em;
    width: 0.75em;
  }

  .pokemon-name {
    font-size: 1em;
  }

  .pokemon-id {
    font-size: 1em;
  }

  .red-button {
    height: 0.75em;
    width: 0.75em;
  }

  .pokedex-record-speakers {
    height: 10%;
  }

  .pokedex-record-button {
    height: 1em;
    width: 1em;
  }

  .pokedex-middle {
    height: 350px;
  }

  .pokedex-right {
    height: 350px;
  }

  .pokemon-description {
    font-size: 0.75em;
  }

  .pokemon-height {
    font-size: 0.65em;
  }

  .pokemon-weight {
    font-size: 0.65em;
  }

  .pokemon-types {
    font-size: 0.9em;
  }

  .pokemon-search-list {
    font-size: 0.6em !important;
  }

  .pokemon-search-bar {
    font-size: 0.5em;
  }
}

@media only screen and (max-width: 749px) {
  .pokedex-right {
    display: none;
  }

  .pokedex-left {
    height: 350px;
    width: 50%;
  }

  .pokedex-camera {
    height: 1.5em;
    width: 1.5em;
  }

  .pokedex-red-light {
    height: 0.75em;
    width: 0.75em;
  }

  .pokedex-yellow-light {
    height: 0.75em;
    width: 0.75em;
  }

  .pokedex-green-light {
    height: 0.75em;
    width: 0.75em;
  }

  .left-bottom {
    display: none;
  }

  .pokedex-middle {
    height: 350px;
  }
}
