html {
  margin: 0;
  padding: 0;
  max-height: 100vh;
}

body {
  background: rgba(1, 1, 1, 0);
  height: 100%;
}

.navbar-brand {
  padding-left: 10%;
}

.pokedex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.pokedex-top {
  display: flex;
  background-color: #e00909;
  border: 5px solid black;
  height: 65px;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.pokedex-camera {
  height: 45px;
  width: 45px;
  background: radial-gradient(
    farthest-corner at 10px 10px,
    white,
    #369cd4,
    #369cd4
  );
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.5);
  align-self: center;
  margin-left: 10px;
}

.pokedex-red-light {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid black;
  background: radial-gradient(
    farthest-corner at 2px 2px,
    white,
    #821919,
    #6e0404
  );
  margin-top: 7px;
  margin-left: 25px;
}

.pokedex-yellow-light {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid black;
  background: radial-gradient(
    farthest-corner at 5px 5px,
    white,
    #e6c915,
    #dec000
  );
  margin-top: 7px;
  margin-left: 5px;
}

.pokedex-green-light {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid black;
  background: radial-gradient(
    farthest-corner at 3px 3px,
    white,
    #388c16,
    #28700a
  );
  margin-top: 7px;
  margin-left: 5px;
}

.pokedex-left {
  display: flex;
  background-color: #e32222;
  height: 500px;
  width: 550px;
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 1%;
}

.pokemon-name-id {
  display: flex;
  height: 10%;
  width: 80%;
  justify-content: space-between;
}

.pokemon-name-box {
  display: flex;
  height: 100%;
  width: 70%;
  background: linear-gradient(#51e34b, #40b03c);
  border: 2px solid black;
  text-transform: capitalize;
  font-size: 2em;
  font-weight: 900;
  justify-content: center;
  align-items: center;
}

.pokemon-id-box {
  display: flex;
  height: 100%;
  width: 20%;
  background: linear-gradient(#51e34b, #40b03c);
  border: 2px solid black;
  flex-wrap: wrap;
  font-size: 2em;
  font-weight: 900;
  justify-content: center;
  align-items: center;
}

.top-red-buttons {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.red-button {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid black;
  background: radial-gradient(
    farthest-corner at 2px 2px,
    white,
    #e32222,
    #6e0404
  );
  margin-left: 2%;
  margin-right: 2%;
}

.pokedex-image-border {
  display: flex;
  height: 75%;
  width: 80%;
  background-color: #eef0ed;
  border: 2px solid black;
  border-bottom-left-radius: 15%;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-image-box {
  display: flex;
  height: 75%;
  width: 80%;
  background: linear-gradient(#51e34b, #2e912a);
  justify-content: center;
  border: 2px solid black;
  border-radius: 4%;
}

.pokemon-image {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.pokedex-record-speakers {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  margin-top: 2%;
}

.pokedex-record-button {
  height: 35px;
  width: 35px;
  background: radial-gradient(
    farthest-corner at 5px 5px,
    white,
    #e32222,
    #e00909
  );
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
  margin-left: 10%;
  margin-bottom: 8%;
}

.pokedex-speakers {
  height: 14%;
  width: 25%;
  margin-bottom: 4%;
}

.pokedex-speaker {
  height: 8%;
  width: 60%;
  background-color: black;
  margin-top: 3%;
}

.pokedex-middle-right {
  display: flex;
  margin-top: 4.2%;
}

.pokedex-middle {
  height: 500px;
  width: 25px;
  background-color: #c2081a;
  border: 10px double black;
  border-radius: 5%;
}

.pokedex-right {
  display: flex;
  background-color: #e32222;
  height: 500px;
  width: 550px;
  border: 5px solid black;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 1%;
}

.pokemon-description {
  display: flex;
  height: 25%;
  width: 80%;
  background: linear-gradient(#51e34b, #2e912a);
  border: 2px solid black;
  padding: 1% 1% 1% 2%;
  font-size: 1.12em;
}

.pokemon-info-type {
  display: flex;
  height: 15%;
  width: 80%;
  justify-content: space-between;
}

.pokemon-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 45%;
  background: linear-gradient(#51e34b, #2e912a);
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  padding-left: 5%;
  font-weight: 700;
  font-size: 1.1em;
}

.pokemon-height {
  width: 100%;
}

.pokemon-weight {
  width: 100%;
}

.pokemon-types {
  display: flex;
  height: 100%;
  width: 45%;
  background: linear-gradient(#51e34b, #2e912a);
  border: 2px solid black;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 1.3em;
  font-weight: 700;
}

.pokemon-search-box {
  display: flex;
  height: 40%;
  width: 80%;
  background: linear-gradient(#51e34b, #2e912a);
  border: 2px solid black;
  justify-content: space-around;
  align-items: center;
}

.pokemon-search-left {
  display: flex;
  height: 100%;
  width: 50%;
}

.pokemon-search-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  list-style-type: none;
  overflow: auto;
}

.btn {
  width: 100%;
  text-transform: capitalize;
  font-weight: 900 !IMPORTANT;
  font-size: 1.2em !IMPORTANT;
}

.btn:hover {
  background: #019434;
  color: #ffffff !IMPORTANT;
  transition-duration: 0.5s;
}

.pokemon-search-right {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

.pokemon-search-bar {
  height: 40%;
  width: 80%;
  text-align: center;
}
